.fight {
    display: flex;
    gap: 20px;
}

#char,
#monster {
    flex: 1;
    display: flex;
    flex-direction: column;
}

.lifebar {
    height: 17px;
    border: 1px solid #343434;
    border-radius: 4px;
}

.lifebar .bar {
    height: inherit;
    background-color: red;
    
}

.fight__button {
    width: 8%;
}

.log {
    margin-top: 200px;
    height: 200px;
    border: 1px dashed #c3c3c3;
    overflow-y: scroll;
}

.hp{
    font-weight: bold;

}

